@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.content {
  min-height: 100vh;
  height: auto;
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 0.8fr 2fr;
}

.aside {
  background-color: #e6e4fd;
  color: black;
}

figure {
  text-align: center;
}

.photo {
  border-radius: 50%;
  width: 90%;
}

.contacts-img {
  display: inline-block;
  vertical-align: middle;
}

.left-sections {
  padding-left: 30px;
}

.main {
  background-color: white;
}

.title {
  background-color: #e6e4fd;
  text-align: center;
}

.name {
  margin: 0;
  padding: 20px 0 20px 0;
}

.right-sections {
  padding: 10px 0 0 30px;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.contacts h2 {
  display: none;
}

.footer {
  margin: 0 auto;
  text-align: center;
}
